<div class="container p-3">
  <h1>New List</h1>
  <%= simple_form_for(list) do |f| %>
    <%= f.input :name %>
    <%= f.button :submit, "Submit", class: "btn btn-dark w-100 mt-1" %>
  <% end %>
</div>
