<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/?cinema);">
  <div class="container">
    <h1>Save any kind of movies</h1>
    <p>Bookmark them in lists</p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Create list
    </button>
    <%#= link_to "Create list", "#collapseExample", class:"btn btn-dark", role:"button" aria-expanded:"false" ,aria-controls:"collapseExample" %>
    <%#= link_to "Add Bookmark", new_list_bookmark_path(@list), class:"btn btn-dark mt-5"%>
  </div>
  </div>
</div>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <%=  render "lists/new", list: @list %>
  </div>
<</div>

<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% @lists.each do |list| %>
      <div class="col">
        <div class="card text-bg-dark shadow-sm">
          <% if list.photo.attached? %>
            <%= cl_image_tag list.photo.key, class:"card-img .img-fluid. max-width: 100%;", height: 400, crop: :fill%>
          <% else %>
            <img src="https://source.unsplash.com/random/?movie" class="card-img .img-fluid. max-width: 100%;" alt="Movie", height="400px", >
          <% end %>
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <%= link_to list.name, list_path(list), class:"btn btn-dark"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
